<header>
  <p>Не ни е готово мапирањето</p>
  <a routerLink="home">Home</a><br>
  <a routerLink="books">All</a><br>
  <a routerLink="hospital"> <strong> Hospitals</strong></a><br>
  <a routerLink="cafe"> <strong> Cafes</strong></a><br>
  <a routerLink="supermarket"> <strong> Supermarkets</strong></a><br>
  <a routerLink="mall"> <strong> Malls</strong></a><br>
  <a routerLink="university"> <strong> Universities</strong></a><br>
  <a routerLink="park"> <strong> Parks</strong></a><br>
  <a routerLink="restaurant"> <strong> Restaurant</strong></a><br>

</header>
<div id="map"></div>

<router-outlet></router-outlet>
